#colorpicker_dialog{
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	width:405px; 
	height:420px; 
	border:inset 1px gray; 
	padding:2px; 
}

#arrow{
	float:left;
	position: relative;
	color: red;
	left:10px;
	top:-8px;
	visibility: hidden;
}
.HSL_L{
	width:15px;
	height:250px;
	margin-left:11px;
	border:inset 1px black;
}
.color{
	float:left;
	width:23px;
	height:15px;
	margin:5px;
	border:inset 1px gray;
}
.colors{
	width:290px;
	float:left;
}
.current_color_container{
	float:left;
	padding:3px 0 0 3px;
	width:110px;
}
.current_color{
	float:left;
	width:110px;
	height:40px;
	border:inset 1px gray;
	clear:right;
}
.RGB, .HSL{
	width:55px;
	float:left;
	margin-top:5px;
}
.RGB input, .HSL input{
	width:32px;
	margin-bottom:3px;
}
.output{
	float:left;
	margin-top:11px;
}
.output input{
	width:64px;
}
.output input{
	width:50px;
}
.colorpicker{
	display:inline-block;
	width:30px;
	height:25px;
	border:inset 1px #EEEEEE;
	cursor:pointer;
	background-color:red;
}
.ui-dialog{
	font-size: 62.5%;
	font-family: "Trebuchet MS", "Arial", "Helvetica", "Verdana", "sans-serif";
}
.input input{
	height:15px;
	width:30px;
}
.input{
	font-size: 10px;
}
