.paging span{
	padding: 3px 10px;
	vertical-align: middle;
	color:white;
}

.paging{
	float: right;
}

span.selected{
	background-color: #888888;
	color:white;
}

span.unselected{
	background-color: #000000;
	cursor: pointer;
	color:white;
}

.ui-datepicker{
	font-size: 62.5%;
	font-family: "Trebuchet MS", "Arial", "Helvetica", "Verdana", "sans-serif"; 
}

.basicSearch {
    background-color: white;
    border-radius: 10px 10px 10px 10px;
    margin-top: 1px;
    padding: 1px 1px 1px 8px;
    width: 200px;
}

.basicSearchInput {
	border: none;
	width: 160px;
	color: #9B9B9B;
}

.basicSearchInput:focus {
	color: black;
}

.basicSearch span {
	cursor: pointer;
}

